@import '../../../styles/Original/variables';
@import '../../../styles/Original/mixins';

.profile-pic {
  background-size: cover;
  border-radius: 5%
}

#page-navbar {
  transition: all 0.3s;
  .profile-pic {
    $size: $line-height * $font-size-lg + 0.5rem;
    height: $size;
    width: $size;
    border: none;
  }
  @mixin transparent($color) {
    background-color: rgba($color, 0.3);
    border-color: rgba($color, 0.3);
    &:hover {
      background-color: rgba($color, 0.5);
      border-color: rgba($color, 0.5);
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-search {
      width: 10rem;
    }
  };
  &.navbar-light {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    &.transparent {
      .navbar-brand {
        color: $navbar-dark-active-color;
        @include hover-focus {
          color: $navbar-dark-active-color;
        }
      }
      .navbar-nav {
        .nav-link {
          color: $navbar-dark-color;
          @include hover-focus {
            color: $navbar-dark-hover-color;
          }
        }
        .active > .nav-link,
        .nav-link.active,
        .nav-link.open,
        .open > .nav-link {
          @include plain-hover-focus {
            color: $navbar-dark-active-color;
          }
        }
      }
      padding-top: $navbar-padding-vertical * 2;
      padding-bottom: $navbar-padding-vertical * 2;
      background: transparent;
      box-shadow: none;
      .btn-primary {
        @include transparent($btn-primary-bg);
      }
      .btn-secondary {
        @include transparent($btn-secondary-bg);
        color: rgba($btn-secondary-bg, 0.3);
        &:hover {
          color: rgba($btn-secondary-bg, 0.5);
        }
      }
      .form-control {
        @include transparent($input-bg);
        color: white;
      }
    }
  }
}

#sidebar {
  @mixin sidebar-size($sidebar-width) {
    width: $sidebar-width;
  }

  .profile-pic {
    $size: 5.6rem;
    height: $size;
    width: $size;
  }

  .panel {
    top: 0;
    height: 100vh;
    z-index: 1034;
    background: $body-bg;
    position: fixed;
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
    @include sidebar-size(24rem);
    @include media-breakpoint-down(xs) {
      @include sidebar-size(100vw);
    }
    &:not(.right) {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

  .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}
